TOKEN=""
TEST_TOKEN=""
PSQL_URI="postgresql://username:password@host/database"
TEST_PSQL_URI="postgresql://username:password@host/database"
DAGPI_TOKEN=""
WAIFU_TOKEN=""

JISHAKU_NO_UNDERSCORE="True"
os.environ["JISHAKU_NO_DM_TRACEBACK"] = "True"
os.environ["JISHAKU_HIDE"] = "True"
